{% extends 'base.html' %}

{% block title %} About Me
{% endblock title %} 

{% block nav %}
  <li class="nav-item">
    <a class="nav-link" href="/" style="font-family: 'Tangerine', cursive;font-size:28px;">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dragonzpyder" style="font-family: 'Tangerine', cursive;font-size:28px;">DragonZpyder</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/about" style="font-family: 'Tangerine', cursive;font-size:28px;">About</a>
  </li>
{% endblock nav %}