{%extends 'base.html'%}
{%load static%}
{%block title%}
Manage Customer
{%endblock title%}

{%block body%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&display=swap" rel="stylesheet">
<style>
    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
</style>

<video autoplay muted loop id="myVideo" style="position: fixed;right: 0;bottom: 0;min-width: 100%;min-height: 100%;">
    <source src="{%static 'Videos/Airplane.mp4'%}" type="video/mp4">
</video>
<div class="container" style="display:flex;align-items: center;justify-content: center;height: 100%;width: 100%;position:relative;">
<div class="container" style="">
    <div class="container d-flex justify-content-center mx-2 my-5">
        <p style="color: rgb(245, 230, 230);font-family:'Noto Sans Mono';font-size: xx-large;font: bolder;font-weight: 900;">Search a customer.</p>
    </div>
    <div class="d-flex justify-content-center h-100">
    <form method="post">
        {%csrf_token%}
        <div class="searchbar">
        <input class="search_input" type="text" name="Customer_name" placeholder="Search...">
        <button  class="search_icon"><i class="fas fa-search"></i></button>
        </div>
    </form>
    </div>
  </div>
</div>

{%endblock body%}