.from-class{
    height: 50px;
    margin: 0;
    border: 0;
}


.searcher{
    height: 300px;
    margin-top: 50px !important;
    justify-content: center;
    display: flex;
    margin: 0;
}

.searcher form{
    margin-top: 100px;
}



.Date{
    height: 46px;
    width: 210px;
}

.nop{
    height: 50px;
}

.submit_button{
    height: 50px;
}

.TO{
    
}