{%extends 'base.html'%}


{%load static%}
{%block title%}Home{%endblock title%}
{%block body%}
<link rel="stylesheet" href="{%static 'css/home.css'%}">
<script src="{%static 'js/base.js'%}" charset="utf-8"></script>


<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Welcome to <so>NaySchool</so></h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">NaySchool is a virtual platform for learners and teachers in which everyone is allowed of learning and teaching.To learn more click on the button below.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Get started for free</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3">Discover Features</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Browse Courses</button>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="container px-4 py-5" id="hanging-icons">
      <h2 class="display-5 fw-bold text-white pb-2 border-bottom">Our Features</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start my-5 mr-5">
          <div>
            <h2 class="display-5 fw-bold text-white">Featured title</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
              Primary button
            </a>
          </div>
        </div>

        <div class="col d-flex align-items-start my-5 mr-5">
          <div>
            <h2 class="display-5 fw-bold text-white">Featured title</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
              Primary button
            </a>
          </div>
        </div>

        <div class="col d-flex align-items-start my-5 mr-5">
          <div>
            <h2 class="display-5 fw-bold text-white">Featured title</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
              Primary button
            </a>
          </div>
        </div>

        <div class="col d-flex align-items-start my-5 mr-5">
          <div>
            <h2 class="display-5 fw-bold text-white">Featured title</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
              Primary button
            </a>
          </div>
        </div>

        <div class="col d-flex align-items-start my-5 mr-5">
          <div>
            <h2 class="display-5 fw-bold text-white">Featured title</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
              Primary button
            </a>
          </div>
        </div>

        <div class="col d-flex align-items-start my-5 mr-5">
          <div>
            <h2 class="display-5 fw-bold text-white">Featured title</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
              Primary button
            </a>
          </div>
        </div>


      </div>
    </div>
</div>
{%endblock body%}
